<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Motion AccelerationX="50" AccelerationY="50" AccelerationZ="50" MaxVelocityX="50" MaxVelocityY="50" MaxVelocityZ="50" StepAngleX="0.18" StepAngleY="0.18" StepAngleZ="0.18" DivisionNumberX="5" DivisionNumberY="5" DivisionNumberZ="5" PitchX="10" PitchY="10" PitchZ="10" LinearRatioX="1" LinearRatioY="1" LinearRatioZ="1" TripX="150" TripY="150" TripZ="150" SoftwareNLimitX="0" SoftwareNLimitY="0" SoftwareNLimitZ="0" SoftwarePLimitX="400" SoftwarePLimitY="400" SoftwarePLimitZ="400" SoftwareLimit="False" />
  <ManualTest MovePointX="100" MovePointY="100" MovePointZ="100" MoveSurfaceType="0" MoveSurfaceStart1="0" MoveSurfaceEnd1="100" MoveSurfaceStart2="0" MoveSurfaceEnd2="100" MoveSurfaceLineSpace="20" MoveSurfaceStepLength="20" MoveSurfaceStepInterval="0.1" MoveCurveExpX="100+50*Cos(3.14*T/180)" MoveCurveExpY="100+50*Sin(3.14*T/180)" MoveCurveExpZ="50" MoveCurveStepInterval="0.1" MoveCurveStartT="0" MoveCurveEndT="360" MoveCurveStepT="5" />
</Configuration>