<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Devices>
    <通信串口1 Address="COM2" Parameters="FlowControl=None,StopBits=One,Parity=None,Baud=9600,DataBits=8" />
    <通信串口2 Address="COM4" Parameters="FlowControl=None,StopBits=One,Parity=None,Baud=9600,DataBits=8" />
    <通信串口1-仿真器 Address="COM3" Parameters="FlowControl=None,StopBits=One,Parity=None,Baud=9600,DataBits=8" />
    <通信串口2-仿真器 Address="COM5" Parameters="FlowControl=None,StopBits=One,Parity=None,Baud=9600,DataBits=8" />
  </Devices>
</Configuration>